.Rproj.user
.Rhistory
.RData
.Ruserdata
/testModels
/samples
/models/DDM/DDM/examples/samples
/models/RACE/LBA/examples/samples
/models/RACE/RDM/examples/samples
/models/RACE/LNR/examples/samples
/models/RACE/exGaussian/examples/samples
/vignettes/ReinforcementLearning/samples
/vignettes/TrialCovariates/samples