.Rproj.user
.Rhistory
.RData
.Ruserdata
/testModels
/models/SDT/Probit/examples/samples
/models/DDM/DDM/examples/samples
/models/RACE/LBA/examples/samples
/models/RACE/RDM/examples/samples
/models/RACE/LNR/examples/samples